@charset "UTF-8";

/**
 * 全局样式
 */

// 基础
@import './modules/variable';
@import './modules/normalize';
@import './modules/reset';

// 组件样式
@import './modules/marginPadding.scss';

// transition过渡动画
.page-fade-enter-active {
  animation-name: fadeInUp;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
